<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un regalo especial para tí</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fotos.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="icon" href="./media/regalo.png">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
</head>
<body>
    <div class="contenedor">
        <section class="portada center">
                <lottie-player id="lines-portada" src="https://assets7.lottiefiles.com/temporary_files/EWLg5e.json"  background="transparent"  speed="1"   loop  autoplay></lottie-player>
                <h1 class="titulo">
                Un regalo especial <br> para alguien especial <br>
                <span class="bold resaltar">Papá</span>
                </h1>
                <lottie-player id="portada-shines" src="https://assets10.lottiefiles.com/packages/lf20_bvmhqmmp.json"  background="transparent"  speed="0.5"    loop  autoplay></lottie-player>
                <div class="shadow"></div>
        </section> 

        <section class="sec-1 ">
            <div class="sec-container center">
                    <p>se que no soy la persona más especial contigo...</p>
                    
                    <lottie-player id="corazoncito" src="https://assets9.lottiefiles.com/packages/lf20_blfuo1tm.json"  background="transparent"  speed=".5"    loop  autoplay></lottie-player>
                    </div>
        </section>

        <section class="sec-2">
            <div class="sec-container center">
                <span class="floating secondary ">imposible</span>
                <span class="floating secondary ">son demasiadas</span>
                <p>pero, ¿Y si pudiera contar todas las cosas<br> por las que podria agradecerte?...</p>
                <lottie-player id="eye" src="https://assets9.lottiefiles.com/private_files/lf30_wz3jxlbp.json"  background="transparent"  speed="1"    loop  autoplay></lottie-player>
                <lottie-player id="time" src="https://assets5.lottiefiles.com/packages/lf20_i0mxtka6.json"  background="transparent"  speed="1"   loop  autoplay></lottie-player>
            </div>
        </section>

        <section class="sec-3">
            <div class="sec-container center">
                <p style="padding-top:10rem ;">...o las tantas cosas que puedo aprender de tí</p>
                <div class="heart bigger-anim"></div>
                <lottie-player id="father-scroll" src="https://assets4.lottiefiles.com/packages/lf20_uwh9uhdt.json"  background="transparent"  speed=".25"  style="width: 100%;"  loop autoplay></lottie-player>

            </div>
        </section>

        <section class="sec-4">
            <div class="sec-container center">

                <p> 
                pero desde lo más profundo de mi corazón puedo decirte que...
                </p>
               
                <lottie-player id="load"  src="https://assets9.lottiefiles.com/packages/lf20_h5nbwk3t.json"  background="transparent"      loop autoplay></lottie-player>
                
            </div>
                
        </section>

        <section class="sec-5">
            <div class="sec-container center">

                <span class="floating secondary">eres</span>
                <img src="" alt="">
                <lottie-player id="flames" src="https://assets7.lottiefiles.com/packages/lf20_yppp9lxb.json"  loop autoplay></lottie-player>
                <lottie-player class="shines" src="https://assets10.lottiefiles.com/packages/lf20_bvmhqmmp.json"  background="transparent"  speed="0.5"    loop  autoplay></lottie-player>
               
                <p>una llama viviente y ardiente de respeto y amor puro</p>


                
            </div>
        </section>

        <section class="sec-6">
               
               <div class="sec-container center">
                    <p>hay una sola persona como tú en el mundo que merece que lo llame de manera tan especial</p>
                <lottie-player id="shy" src="https://assets9.lottiefiles.com/packages/lf20_9Sc5L6.json"  background="transparent"  speed="1"  loop autoplay></lottie-player>
               </div>
        </section>

        <section class="sec-7">
            <div class="sec-container center">
                <p class="padreP" >y es a quien llamo <span class="bold">mi padre</span></p>
                <lottie-player id="blowing-heart" src="https://assets5.lottiefiles.com/packages/lf20_t9amg50m.json"  background="transparent"  speed="1"    loop  autoplay></lottie-player>
            </div>
        </section>
        
        <section class="sec-8">
            <div class="sec-container center">

                <p>por eso hice esto para tí,</p>
                <p>para la persona que tanto se ha preocupado</p>
                <p class="secondary bold">por mi y por tantas personas más.</p>

                <div class="heart bigger-anim heart-sec8"> </div>
            </div>
        </section>
        <section class="sec-9">
            <div class="sec-container center">
                <p>y aunque soy muy terco aveces, desde el <span class="heart-left"></span> <span class="heart-right"></span> te digo...</p>
                
            </div>
        </section>

        <section class="sec-10">
            <div class="sec-container center">
                <h2 class="secondary bold">Merry christmas</h2>
                <p>for an admirable person that look for perfection but dont sacrifice him family for it.</p>

                
            </div>
        </section>

        <section class="sec-11">
            <div class="sec-container center">

                <p class="p-familia">¡¡una familia feliz!!</p>

                <div class="imagenes">
                        <img src="./media/fam1.png" alt="fotos familiares" class="imagen-sec-4">
                        <img src="./media/fam2.png" alt="fotos familiares" class="imagen-sec-4">
                    
                <video autoplay muted loop src="./media/bolos.mp4" ></video>
                </div>
            </div>
        </section>

        <section class="sec-12">
            <div class="sec-container center">
                <h2>and all this is <br>
                <span> &lt for you/></span> 
                </h2>
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_8gvba0je.json"  background="transparent"  speed="1"    loop autoplay></lottie-player>  
                <p style="font-size:4rem;font-family:'Homemade Apple', cursive;"> feliz navidad</p>
            </div>
        </section>

    </div>
    <script src="js/animations.js"></script>
    <script src="js/anime.min.js"></script>
    <script type="text/javascript" src="./js/general.js"></script>
    <script type="text/javascript" src="./js/fotos.js"></script>
</body>
</html>