<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>primero responde la pregunta</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/alertify.min.js"></script>
    <link rel="stylesheet" href="css/alertify.min.css" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
    <div id="secret-container">
        
        <lottie-player id="secret-animation" src="https://assets10.lottiefiles.com/packages/lf20_xx7spau2.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>
        <div id="secret-form-wrapper">
            <h1 class="secret-title">
                para poder saber lo que se esconde detras de esta puerta...
            </h1>
            <h3 class="secret-subtitle">ingresa la palabra secreta </h3>
            <form action="secret" method="post">
                <input id="input" type="text" name="password">
                <button id="submit" type="submit">verificar</button>
            </form>
        </div>

    </div>
    <div id="pistas" >
        <div id="timer">
            <p style="text-align: center;">siguiente pista en...</p>
            <p class="minutos" ></p>
            <p class="rest">minutos </p>

        </div>
        <ul class="ul-pistas">

        </ul>
    </div>
    <div id="secret-container-float">
        Recuerda que tienes que mantenerte activo en la pagina para que el tiempo disminuya
   
    </div>
    <script src="js/secret.js"></script>
</body>
</html>