img.imagen-sec-4 {
    min-width: 300px;
    max-width: 600px;
}

.imagenes{
    position: relative;
    height: 100%;
    background:linear-gradient( 10deg, var(--violet), var(--main-color));
    border-radius: 0 50px;
    box-shadow: 0 0 50px #0005;
}
video {
    width: 95%;
    margin: 0 auto;
    border-radius: 90px;
}
