img, video{
    border-radius: 1rem;
}

.imagenes{
    position: relative;
    height: 100%;
}
video{
    width: 70%;
}
img{
    width: 40vw;
}
.img1,.img2{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color:chartreuse;
}

.img1{
    top: 30%;
}

.img2{
    top: 60%;
}